* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #e4e4e4;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

html::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
  border-radius: 10px; /* Rounded edges */
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #3A29FF, #c92828); /* Gradient matching Aurora colors */
  border-radius: 10px; /* Rounded thumb */
  border: 2px solid #2a2a2a00; /* Border to blend with page background */
}

html::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #c92828, #FF3232); /* Hover effect with Aurora colors */
}

/* Custom Scrollbar for Firefox */
html {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #c92828 transparent; /* Thumb color, transparent track */
}